{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡A la Cancha!</title>
    <link type="text/css" rel="stylesheet" href="{% static "estilos.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--bootstrap--->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <!--iconos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesomefree@6.1.2/css/fontawesome.min.css"
      integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">
    <!--Favicon-->
    <link rel="icon" type="image/png" href="{% static 'img/logo_ala_cancha.png' %}">
    <!--GoogleFont-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
  </head>
  
  <body>
    <section>
      <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'Index' %}">
                    <img src="{% static 'img/logo_ala_cancha_con_cancha.png' %}" alt="logo" width="120" height="70">
                </a>
                {% if request.user.is_authenticated %}
                  <h3 class="text-center"> Hola {{ request.user.username }}!</h3>
                {% endif %}
        
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><img
                      src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"></span>
                </button>
        
                <div class="collapse navbar-collapse justify-content-end" id="navbarToggleExternalContent">
                    <ul class="navbar-nav">
                        {% if request.user.is_authenticated %}
                            <a class="nav-link btn-success" href="{% url 'perfil' %}">Perfil</a>
                            {% if request.user.is_staff %}
                                <a class="nav-link btn-success" href="{% url 'perfiladmin' %}">Administrar</a>
                            {% endif %}
                        {% else %}
                            <a class="nav-link btn-success" href="{% url 'login' %}">Login/registro</a>                     
                        {% endif %}
                            <a class="nav-link btn-success" href="/#sobre-nosotros">Sobre Nosotros</a>
                            <a class="nav-link btn-success" href="/#nuestras-instalaciones">Nuestras instalaciones</a>
                            <a class="nav-link btn-success" href="/#precios">Precios</a>                      
                            <a class="nav-link btn-success" href="/#contacto">Contacto</a>
                        {% if request.user.is_authenticated %}
                            <a class="nav-link btn-success" href="{% url 'exit' %}">Cerrar Sesión</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
      </header>
    </section>
    <div class="espaciador"></div>
    {% block content %}
    <div class="partes container">
        <h2>Editar Usuario</h2>
    </div>
    <div class="partes container">
        <h2>Editando informacion de {{editando.username}} </h2>

        <form id="form_salon" method="post" action="{% url 'editar_usuario' id=editando.id %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class='btn btn-success' type="submit">Guardar Cambios</button>
        </form>

    </div>
    {% endblock %}
    <div id="mensaje-exito" style="display: none;">
        <p>Los cambios se han guardado correctamente.</p>
    </div>
</body>
</html>